{% load analytics %}
{% load boss_tags %}

<!DOCTYPE html>
<html lan="en">
  <head>
    <title>GW2 Boss Spawner{% block title %}{% endblock %}</title>
    <link href="{{ STATIC_URL }}css/style.css" type="text/css" rel="stylesheet"/>
    <link href=" http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" type="text/css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    {% block extra_css %}{% endblock %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-timepicker-addon.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>

    {% block extra_js %}{% endblock %}
  </head>
  <body>
    <div class="navbar navbar navbar-static-top">
      <div class="container">
	<div class="navbar-inner">
	  <a class="brand" href="/">GW2 Boss Spawns</a>
	  <ul class="nav">
	    <li class="active"><a href="/">Home</a></li>
	    <li><a href="https://github.com/jensechu/Boss-Spawns">Github Repository</a></li>
	    <li><a href="https://github.com/jensechu/Boss-Spawns/issues">Report a Bug</a></li>
	    <li><a href="https://twitter.com/jensechu">Contact</a></li>
	  </ul>
	  {% if user.is_authenticated %}
	  <p class="navbar-text pull-right">Hi, <a href="{% url user-profile %}">{{ user.username }}</a> || <a href="{% url auth_logout %}" class="header-login">Log Out</a></p>
	  {% else %}
	  <p class="not-logged-in">You're not logged in.
	    <a href="{% url registration_register %}">Register here.</a> or
	    <a href="{% url auth_login %}">Log In.</a>
	  </p>
	  {% endif %}
	</div>
      </div>
    </div>

    <div class="container">
      <div class="row-fluid">
	<div class="span12">
  


	    <div id="select-server" class="clearfix well well-small">
	      <h1 class="pull-left">Select your server:</h1>
	      <div id="server-form" class="pull-left">{% server_select %}</div>
	    </div>
	    <div id="content">
	    {% block content %}

	    {% endblock %}
	  </div>

	  <div id="footer">
	    <p>This is not an offcial ArenaNet site. All Guild Wars 2 references are © 2012 ArenaNet, Inc. All rights reserved. NCsoft, the interlocking NC logo, ArenaNet, Guild Wars, Guild Wars Factions, Guild Wars Nightfall, Guild Wars: Eye of the North, Guild Wars 2, and all associated logos and designs are trademarks or registered trademarks of NCsoft Corporation. All other trademarks are the property of their respective owners.</p>
	  </div>
	</div>
      </div>
      {% analytics %}
  </body>
</html>
