<!DOCTYPE>
<html>
  <head>
    <title>GW2 Boss Spawner{% block title %}{% endblock %}</title>
    <link href="{{ STATIC_URL }}css/main.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>

    <div id="header">
      <div id="header-title">
      <h1>GW Spawns</h1>
      </div>
      <div id="header-login">
      {% if user.is_authenticated %}
         <p class="left">Hi, {{ user.username }} <a href="{% url auth_logout %}" class="header-login">Log Out</a></p>
      {% else %}  
      <p>You're not logged in.</p>
      <a href="{% url registration_register %}">Register here.</a> or 
      <a href="{% url auth_login %}">Log In.</a>
      {% endif %}
      </div>
    </div>


    {% block content %}
    {% endblock %}
  </body>
</html>
