{% extends "base.html" %}
{% load boss_tags %}
{% load vote %}
{% load tz %}

{% block extra_css %}
<link href="{{ STATIC_URL }}css/jquery.countdown.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block extra_js %}
<script src="{{ STATIC_URL }}js/jquery.countdown.min.js"></script>
<script type="text/javascript">
  window.server_time = new Date(
    {{ server_time.year }},
    {{ server_time.month }},
    {{ server_time.day }},
    {{ server_time.hour }},
    {{ server_time.minute }},
    {{ server_time.second }}
  );

  window.spawn_time = null;
  {% with next_spawn=boss|next_spawn:server %}
    {% if next_spawn != "Unknown" %}
      window.spawn_time = new Date(
        {{ next_spawn.year }},
        {{ next_spawn.month }},
        {{ next_spawn.day }},
        {{ next_spawn.hour }},
        {{ next_spawn.minute }},
        {{ next_spawn.second }}
      );
    {% endif %}
  {% endwith %}

  window.spawn_countdown = null;
  if (window.spawn_time){
    window.spawn_countdown = spawn_time.getTime() - server_time.getTime();
    window.spawn_countdown = window.spawn_countdown / 1000;
    window.spawn_countdown = Math.abs(window.spawn_countdown);
  }

  $(function() {
    if(window.spawn_countdown) {
      $("#boss_countdown").countdown({until: window.spawn_countdown});
    }
  });

  $(function() { $('#id_death_time').datetimepicker(); });

</script>
{% endblock %}

{% block content %}

<a href="/server/{{ server.pk }}"><h1>{{ boss.name }} <small>{{ server.name }}</small></h1></a>
  {% if boss.name == "Claw of Jormag" %}
     <div class="alert alert-error">
       <button type="button" class="close" data-dismiss="alert">×</button>
       <h4>NEW TIME: Claw of Jormag</h4>
       <p>Looks like Jormag is getting scared from all the Halloween festivities. The Claw is now had his respawn rate DOUBLED and has added a 45 minute random spawn window, similar to Tequatl. Please show up <strong>45 minutes early</strong> or <strong>when the countdown hits 45 minutes</strong> to be on time for the event!</p>
     </div>
  {% endif %}

  {% if boss.name == "Tequatl" %}
     <div class="alert">
       <button type="button" class="close" data-dismiss="alert">×</button>
       <h4>Teqautl's Spawn Range</h4>
       <p>Tequatl spawns in a 30 minute random spawn window that starts 2.5hrs after his last death. Please be sure to arrive 30 minutes early (when the countdown hits 30mins) so you do not miss the event!</p>
     </div>
  {% endif %}

  <p class="space">HEY! Are you a guild on {{ server.name }}?</p>
  <p>If you want your guild's page up here, and you can commit a few people to consistently submit death times, then message prawn.9728! Only accepting one guild to represent per server. Other people can still submit times, but this should keep the river flowing.</p>
<div class="row-fluid" id="timer-row">
  <div class="span4">
  <h3>server spawn time</h3>
  <h1>{{ boss|next_spawn:server }}</h1>

  <h3>local spawn time</h3>

  {% if user.is_authenticated %}
     {% timezone user.get_profile.timezone %}
         <h1>{{ boss|next_spawn:server }}<h1>
     {% endtimezone %}
  {% else %}
      <p><a href="{% url registration_register %}">Register here</a> or <a href="{% url auth_login %}">Log In</a> to view spawn times in your timezone.</p>
  {% endif %}
  </div>

  <div class="span4">
    <div id="death_countdown">
      <h3 class="shove">countdown</h3>
      <div id="boss_countdown"></div>
    </div>
  </div>

  <div class="span4">
    <div id="death_form">
	<h3>submit when boss dies</h3>
	<div id="death-shove">
	  {% include "messages.html" %}

	{% if user.is_authenticated %}
	<p class="text-error"><small><strong>'Now' button uses YOUR TIME. Fixing this *very* soon.</strong></small></p>
	<form method="post">{% csrf_token %}
	  {{ death_form.as_p }}
	  <input type="submit" value="Submit" />
	</form>      
	{% else %}
	
	<p><a href="{% url registration_register %}">Register here</a> or <a href="{% url auth_login %}">Log In</a> to submit.</p>
      {% endif %}
      </div>
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead align=left>
    <tr>
      <th>votes</th>
      <th>last reported death times</th>
      <th>thanks to</th>
    </tr>
  </thead>
  <tbody>
    {% for death in deaths.by_vote %}
    <tr>
      <td>
	<span class="badge badge-important pull-left vote">{{ death.votes.count }}</span>
	{% if user.is_authenticated %}
	{% vote_form death %}
	{% endif %}

      </td>
      <td>
	{{ death.died_at }}
      </td>
      <td>
	{{ death.user }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
