{% extends "base.html" %}
{% load boss_filters %}
{% load vote %}

{% block content %}

<div id="detail-titles">
  <h1>{{ server.name }} ||</h1><h2>{{ boss.name }},</h2> <h3>{{ boss.zone }}</h3>
</div>

<div id="next-spawn">
  <div id="spawn">
    <h3>next spawn time</h3>
    <h4>{{ boss|next_spawn:server }}</h4>
  </div>
  <div id="death">
    <h3>submit when boss dies</h3>
    {% if user.is_authenticated %}
    
    <form action="{% url boss-death server.pk boss.pk %}" method="post">{% csrf_token %}
      {{ death_form.as_p }}
      <input type="submit" value="Submit" />
    </form>

    {% else %}

    <p>You're not logged in. <a href="{% url registration_register %}">Register here.</a> or <a href="{% url auth_login %}">Log In.</a></p>


    {% endif %}
  </div>
</div>





<table>
  <thead align=left>
    <tr>
      <th>votes</th>
      <th>recent death times</th>
    </tr>
  </thead>
  <tbody>
    {% for death in deaths.by_vote %}
    <tr>
      <td>
	{% if user.is_authenticated %}
	{% vote_form death %}
	{% endif %}
	{{ death.votes.count }}
      </td>
      <td>
	{{ death.died_at }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
