{% load boss_filters %}
{% load vote %}

{% if user.is_authenticated %}

<form action="{% url boss-death server.pk boss.pk %}" method="post">{% csrf_token %}
  {{ death_form.as_p }}
<input type="submit" value="Submit" />
</form>

{% else %}

You're not logged in.

{% endif %}

<h1>{{ server.name }}</h1>

<h2>{{ boss.name }}</h2>

<h3>{{ boss.zone }}</h3>

<h3>Next Spawn Time: {{ boss|next_spawn:server }}</h3>

<table>
  <thead>
    <tr>
      <th>Votes</th>
      <th>Recent Death Times</th>
    </tr>
  </thead>
  <tbody>
    {% for death in deaths %}
    <tr>
      <td>
	{% vote_form death %}
	{% vote_count death %}
      </td>
      <td>
	{{ death.died_at }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
