{% extends "base.html" %}

{% block content %}
<div id="content-select">

  <h1>Welcome</h1>
 <div class="span7">
  <p class="text-success"><strong>UPDATE: You can now select a TIME ZONE to view spawns in server and local time!</strong></p>

  <p>Mobile version coming soon! Also countdowns have been added for each boss that has a submitted death time.</p>
  <p>Thanks for using GW2 Spawns as your reliable boss timer! The countdowns and spawn times are all depending on user submissions, and votes, so please just alt + tab over and submit a death when you kill a dude. Each death time is credited to your user account, so you get some internet cred if that's your thing.</p>

  <p>Boss Spawns IS open source! Feel free to check out the git repository and send me a pull request.</p>
</div>
  <div id="features" class="span4">
    <h3>why boss spawns is the best</h3>
    <ul>
      <li>Set a timezone to view spawns in your local time, or server time!</li>
      <li>Live countdowns for each boss</li>
      <li>Users submit and vote on death times so it isn't trolled</li>
      <li>Works flawlessly on any mobile browser</li>
      <li>OPEN SOURCE! Feel free to look at the code, and merge in changes!</li>
      <li>Orr bosses and temple status' coming next!</li>
    </ul>
  </div>
 
  <div class="span12">
<h1>Screenshots</h1>
<ul class="thumbnails">
  <li class="span6">
    <a href="{{ STATIC_URL }}images/server_shot.png" class="thumbnail">
      <img src="{{ STATIC_URL }}images/server_shot.png" alt="">
    </a>
  </li>
  <li class="span6">
    <a href="{{ STATIC_URL }}images/boss_shot.png" class="thumbnail">
      <img src="{{ STATIC_URL }}images/boss_shot.png" alt="">
    </a>
  </li>
</ul>
</div>
</div>
{% endblock %}
