{% extends "base.html" %}

{% block content %}
<div id="content-select">

  <h1>Welcome</h1>
  <p>Countdowns have been added for each boss that has a submitted death time!</p>
  <p>Thanks for using GW2 Spawns as your reliable boss timer! The countdowns and spawn times are all depending on user submissions, and votes, so please just alt + tab over and submit a death when you kill a dude. Each death time is credited to your user account, so you get some internet cred if that's your thing.</p>

  <p>Boss Spawns IS open source! Feel free to check out the git repository and add send me a pull request.</p>

  <h2>SCREENSHOT when a boss has a death time:</h2>
  <img src="{{ STATIC_URL}}images/screenshot.png" />
</div>
{% endblock %}
