{% extends "base.html" %}

{% block content %}
<div id="content-select">
  <h2>Select your server:</h2>
  <form action="/server/" method="get">
    <select name="server">
      {% for server in server_list %}
      <option value="{{ server.pk }}">{{ server.name }}</option>
      {% endfor %}

      <input type="submit" value="Select" />

    </select>
  </form>
  <h2>COUNTDOWNS HAVE BEEN ADDED TO EVERY BOSS</h2>
  <p>Thanks for checking out the app! Right now most of the bosses do not have spawn times because this app is run by the users. Please please please when you kill a boss just find your server and submit when the boss has died. If the correct death time has already been submitted, then go ahead and give that time a vote so Boss Spawn knows to use that time when it calculates the spawn time! Ideally all of the bosses should be populated pretty quickly after this goes public! Right now I am working on more specific things like event timers, a list of which server kills their bosses the fastest, and a bunch more. I can't do any of it without your input though, so again thank you.
  </p>

  <p>Boss Spawns IS open source! Feel free to check out the git repository and add send me a pull request.</p>

  <h2>SCREENSHOT when a boss has a death time:</h2>
  <img src="{{ STATIC_URL}}images/screenshot.png" />
</div>
{% endblock %}
