{% extends "base.html" %}
{% load boss_filters %}

{% block content %}
<div id="server-bosses">
  <h1>{{ server.name }}</h1>

  <table>
    <thead align=left>
      <tr>
	<th>Name</th>
	<th>Spawn</th>
	<th>Zone</th>
      </tr>
    </thead>
    <tbody>
      {% for boss in bosses %}
      <tr>
	<td>
	  <a href="{% url server-boss server.pk boss.pk %}">{{ boss.name }}</a>
	</td>
	<td>
	  {{ boss|next_spawn:server }}
	</td>
	<td>
	  {{ boss.zone }}
	</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
