{% extends "base.html" %}
{% load boss_tags %}

{% block content %}
<div id="server-bosses">
  <h1>{{ server.name }}</h1>
  <div id="content-select">
  <p>HEY! Are you a guild on {{ server.name }}?</p>
  <p>If you want your guild's page up here, and you can commit a few people to consistently submit death times, then message prawn.9728! Only accepting one guild to represent per server. Other people can still submit times, but this should keep the river flowing.</p>
  </div>

  <table class="table">
    <thead align=left>
      <tr>
	<th></th>
	{% for boss in bosses %}
	<th><a href="{% url server-boss server.pk boss.pk %}">{{ boss.name }}</a></th>
	{% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
	<td>Spawn Time</td>
	{% for boss in bosses %}
	<td>
	  {{ boss|next_spawn:server }}
	</td>
	{% endfor %}
      </tr>
      <tr>
	<td>Zone</td>
	{% for boss in bosses %}
	<td>
	  {{ boss.zone }}
	</td>
	{% endfor %}
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}
