body {
    margin: 0px;
    background-color: #6C666E;
}

@font-face {
    font-family: Roman;
    src: url('/static/fonts/roman.ttf');
}

#wrap {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    min-width: 500px;
    width: 800px;
    float: left;
    margin: 0px 50px 50px 50px;
    border-bottom: 2px solid black;
}

#header-title {
    width: 450px;
    position: relative;
    float: left;
}

#header h1 {
    font-family: Roman;
    font-size: 2.5em;
}

#header-login {
    float: right;
    width: 200px;
    margin-top: 25px;
}

#content {
    margin: 0px 50px;
    height: 300px;
    border-bottom: 2px solid black;
    padding-bottom: 50px;
}

#footer {
    font-size: .8em;
    margin: 0px 50px;
}

#content h2 {
    margin: 0px;
    position: relative;
    float: left;
}

#content-select form {
    margin: 3px 0px 0px 50px;
    position: relative;
    float: left;
}

#server-bosses table {
    width: 800px;
}

#server-bosses th {
    font-variant: small-caps;
    font-size: 1.2em;
}

#server-bosses tbody tr:nth-child(odd) {
    background-color: white;
}

#server-bosses tbody tr {
    height: 15px;
}

a.header-login {
    color: red;
    font-size: .9em;
    margin-left: 5px;
    position: relative;
    bottom: 1px;
}

a.header-login:visited {
    color: green;
}
