body {
    margin: 0px;
    background-color: #6C666E;
}

@font-face {
    font-family: Roman;
    src: url('/static/fonts/roman.ttf');
}

#wrap {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    min-width: 500px;
    width: 800px;
    height: 80px;
    margin: 0px 50px 25px 50px;
    border-bottom: 2px solid black;
}

#header-title {
    width: 450px;
    position: relative;
    float: left;
}

#header h1 a {
    text-decoration: none;
    color: #BF0B0B;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: Roman;
    font-size: 1.5em;
}

#header h1 a:hover {
    text-decoration: none;
    color: black;
}

#header-login {
    float: right;
    width: 200px;
    margin-top: 25px;
}

p.not-logged-in {
    position: relative;
    bottom: 15px;
}

#content {
    margin: 0px 50px;
    min-height: 175px;
    border-bottom: 2px solid black;
    padding-bottom: 50px;
}

#footer {
    font-size: .8em;
    margin: 0px 50px;
}

#content h2 {
    margin: 0px;
    position: relative;
    float: left;
}

#content-select p {
    position: relative;
    float: left;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: .9em;
}

#content-select form {
    margin: 3px 0px 0px 50px;
    position: relative;
    float: left;
}

#content h1 {
    font-weight: lighter;
    font-family: sans-serif;
    margin-bottom: 45px;
}

#content table {
    width: 800px;
}

#content th {
    font-variant: small-caps;
    font-size: 1.4em;
}

#content tbody tr:nth-child(odd) {
    background-color: white;
}

#content tbody tr td {
    height: 55px;
    font-family: sans-serif;
    font-size: 1.2em;
}

#content tbody tr td a {
    color: black;
}

#content tbody tr td a:hover {
    color: #A3BBDF;
}

#detail-titles {
    height: 25px;
    margin-bottom: 50px;
}

#detail-titles h1, h2, h3{
    margin: 0px;
    position: relative;
    float: left;
}

#detail-titles h2 {
    font-size: 2em;
    font-weight: lighter;
    margin-left: 10px;
}

#detail-titles h3 {
    font-size: 1.5em;
    font-weight: lighter;
    margin: 7px 0px 0px 10px;
   
}

#next-spawn {
    height: 100px;
}

#next-spawn div {
    height: 100px;
    width: 300px;
    position: relative;
    float: left;
    margin-bottom: 25px;
}

#next-spawn h3 {
    position: relative;
    float: left;
    font-variant: small-caps;
    border-bottom: 1px solid black;
    font-size: 1.5em;
}

#next-spawn h4 {
    position: relative;
    float: left;
    font-size: 1.5em;
    color: #CCF390;
    margin: 15px 0px 0px 0px;
    width: 200px;
}

#next-spawn form {
    margin: 40px 0px 0px 0px;
}

#death p {
    margin-top: 45px;
    width: 230px;
}

#death p input {
    width: 126px;
}

h3.note {
    margin-bottom: 25px;
}

table input {
    position: relative;
    float: left;
    margin-right: 15px;
}

#header-login a {
    color: #A3BBDF;
    font-size: .9em;
    margin-left: 5px;
    position: relative;
    bottom: 1px;
}

a.header-login:visited {
    color: #A3BBDF;
}

#content img {
    border: 1px solid black;
    margin-top: 25px;
}