@font-face {
    font-family: Roman;
    src: url('/static/fonts/roman.ttf');
}

a.brand {
    font-family: Roman;
}

#select-server {
    margin-top: 25px;
}

#server-form {
    margin: 18px 0px 0px 50px;
}

#select-server input {
    margin: 0px 0px 10px 20px;
}

#death_countdown div {
    border: 0px;
    position: relative;
    right: 30px;
    margin-top: 25px;
}

.countdown_amount {
    font-family: Roman;
    font-size: 5em;
    color: #BF0B0B;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#footer {
    padding-top: 15px;
    margin-top: 70px;
    font-size: .8em;
}