@font-face {
    font-family: Roman;
    src: url('/static/fonts/roman.ttf');
}
h3 {
    font-variant: small-caps;
}

#content h1 {
    font-family: Roman;
}

#features h3 {
    margin: 0px;
}

#features {
    position: relative;
    bottom: 45px;
}

#features li {
    margin-top: 10px;
}

#features li:last-child {
    font-weight: bold;
}

.container {
    margin-bottom: 20px;
}

.navbar a.brand {
    color: #BF0B0B;
}

#
#select-server {
}

#server-select h1 {
    color: black
}

#server-form {
    margin: 18px 0px 0px 50px;
}

#select-server input {
    margin: 0px 0px 10px 20px;
}

#server-table th {
    font-size: 200%;
}

#server-table tbody tr td:first-child {
    font-weight: bold;
}

table {
    margin-top: 55px;
}

#timer-row {
    margin-top: 50px;
}

#timer-row h1 {
    position: relative;
    bottom: 10px;
    line-height: 40px;
    letter-spacing: -3px;
}

#timer-row h3 {
    margin-bottom: 25px;
}

#death_countdown div {
    border: 0px;
    position: relative;
    right: 30px;
    margin-top: 25px;
}

.countdown_amount {
    font-family: Roman;
    font-size: 5em;
    color: #BF0B0B;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#death-shove {
    position: relative;
    bottom: 15px;
}

#footer {
    padding-top: 15px;
    margin-top: 70px;
    font-size: .8em;
}

.space {
    margin-top: 30px;
}

table input {
    float: left;
}

.vote {
    margin: 5px 15px 0px 0px;
}

.not-logged-in {
    margin-top: 9px;
}

ul.messages, ul.errorlist {
    list-style-type: none;
    margin: 0px;
}

table td.text-center {
    padding-left: 120px;
}